<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cheetahgo.mapper.CheetahgoCustomerCooperateClientMapper">
    <resultMap id="BaseResultMap" type="cheetahgo.entity.CheetahgoCustomerCooperateClient">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="insertSelecti ve">
        insert into cheetahgo_customer_cooperate_client
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateDate != null">update_date,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="name != null">#{name,jdbcType=VARCHAR},</if>
            <if test="createDate != null">#{createDate,jdbcType=TIMESTAMP},</if>
            <if test="updateDate != null">#{updateDate,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <sql id="Base_Column_List">
        id
        ,name,create_date,
        update_date
    </sql>
    <delete id="deleteById">
        delete
        from cheetahgo_customer_cooperate_client
        where id = #{id,jdbcType=NUMERIC}
    </delete>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cheetahgo_customer_cooperate_client
    </select>
    <delete id="deleteByName">
        delete
        from cheetahgo_customer_cooperate_client
        where name = #{name,jdbcType=VARCHAR}
    </delete>
</mapper>
